BBH.BOS.Web/Connected Services/SentMailServices/SendMailSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendMailCustomizeByTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailRecieve" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailCustomizeByTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailCustomizeByTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailByVerifyMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailVerify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailByVerifyMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailByVerifyMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailRecieve" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailByVerifyBitAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailVerify" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitcoinAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailByVerifyBitAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailByVerifyBitAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailOrderSuccessInfocash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailVerify" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitcoinAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventCoin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitcoinDeposit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailOrderSuccessInfocashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailOrderSuccessInfocashResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailByVerifyOrderInfocash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailVerify" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitcoinAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeOut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="walletIndex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailByVerifyOrderInfocashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailByVerifyOrderInfocashResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>