BBH.BOS.Web/Connected Services/SentMailServices/SendMailSvc1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SendMailSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sendmailservice.test.wan2save.vn/SendMailSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sendmailservice.test.wan2save.vn/SendMailSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISendMailSvc_SendMailCustomizeByTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailCustomizeByTemplate" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailCustomizeByTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailCustomizeByTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailByVerifyMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailByVerifyMember" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailByVerifyMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailByVerifyMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResetPassword" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailByVerifyBitAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailByVerifyBitAddress" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailByVerifyBitAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailByVerifyBitAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailOrderSuccessInfocash_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailOrderSuccessInfocash" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailOrderSuccessInfocash_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailOrderSuccessInfocashResponse" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailByVerifyOrderInfocash_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailByVerifyOrderInfocash" />
  </wsdl:message>
  <wsdl:message name="ISendMailSvc_SendMailByVerifyOrderInfocash_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailByVerifyOrderInfocashResponse" />
  </wsdl:message>
  <wsdl:portType name="ISendMailSvc">
    <wsdl:operation name="SendMailCustomizeByTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailCustomizeByTemplate" message="tns:ISendMailSvc_SendMailCustomizeByTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailCustomizeByTemplateResponse" message="tns:ISendMailSvc_SendMailCustomizeByTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailByVerifyMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailByVerifyMember" message="tns:ISendMailSvc_SendMailByVerifyMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailByVerifyMemberResponse" message="tns:ISendMailSvc_SendMailByVerifyMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailResetPassword" message="tns:ISendMailSvc_SendMailResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailResetPasswordResponse" message="tns:ISendMailSvc_SendMailResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailByVerifyBitAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailByVerifyBitAddress" message="tns:ISendMailSvc_SendMailByVerifyBitAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailByVerifyBitAddressResponse" message="tns:ISendMailSvc_SendMailByVerifyBitAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailOrderSuccessInfocash">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailOrderSuccessInfocash" message="tns:ISendMailSvc_SendMailOrderSuccessInfocash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailOrderSuccessInfocashResponse" message="tns:ISendMailSvc_SendMailOrderSuccessInfocash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailByVerifyOrderInfocash">
      <wsdl:input wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailByVerifyOrderInfocash" message="tns:ISendMailSvc_SendMailByVerifyOrderInfocash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISendMailSvc/SendMailByVerifyOrderInfocashResponse" message="tns:ISendMailSvc_SendMailByVerifyOrderInfocash_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISendMailSvc" type="tns:ISendMailSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailCustomizeByTemplate">
      <soap:operation soapAction="http://tempuri.org/ISendMailSvc/SendMailCustomizeByTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByVerifyMember">
      <soap:operation soapAction="http://tempuri.org/ISendMailSvc/SendMailByVerifyMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailResetPassword">
      <soap:operation soapAction="http://tempuri.org/ISendMailSvc/SendMailResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByVerifyBitAddress">
      <soap:operation soapAction="http://tempuri.org/ISendMailSvc/SendMailByVerifyBitAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailOrderSuccessInfocash">
      <soap:operation soapAction="http://tempuri.org/ISendMailSvc/SendMailOrderSuccessInfocash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByVerifyOrderInfocash">
      <soap:operation soapAction="http://tempuri.org/ISendMailSvc/SendMailByVerifyOrderInfocash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMailSvc">
    <wsdl:port name="BasicHttpBinding_ISendMailSvc" binding="tns:BasicHttpBinding_ISendMailSvc">
      <soap:address location="http://sendmailservice.test.wan2save.vn/SendMailSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>